.sentiment_container {
    padding: 10px;
    font-family: monospace;
    font-size: small;
}

.score {
    white-space: pre-wrap;       /* Since CSS 2.1 */
}


.triangle-top-right {
    width: 0;
    height: 0;
    border-top: 15px solid #608A32; /* Size and color of the triangle */
    border-left: 15px solid transparent;
    position: fixed;
    top: 0;
    right: 0;
}

.top_banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffeea8;
    width: 100%;
    z-index: 99;
}
.top_banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.black {
    color: black;
}